@import '../../sass.scss';

.Sudoku {
  display: flex;
  flex-direction: column;
  width: min-content;
  @include margin-vertical(2rem);
  border: solid 1.5pt grey;
  background-color: #eee;
  color: #555;
}

.Sudoku .row {
  display: flex;
  flex-direction: row;
  width: min-content;
  &:not(:first-child) {
    &:nth-child(3n + 1) {
      border-top: solid 2pt lightgrey;
    }
    &:not(:nth-child(3n + 1)) {
      border-top: solid thin lightgrey;
    }
  }
  &:not(:last-child) {
    border-bottom: solid thin lightgrey;
  }
}
.Sudoku .col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2em;
  height: 2em;
  &:not(:first-child) {
    &:nth-child(3n + 1) {
      border-left: solid 2pt lightgrey;
    }
    &:not(:nth-child(3n + 1)) {
      border-left: solid thin lightgrey;
    }
  }
  &:not(:last-child) {
    border-right: solid thin lightgrey;
  }
}

.secondary-highlight-row,
.secondary-highlight-col {
  background-color: whitesmoke;
}

.ternary-highlight-row,
.ternary-highlight-col {
  background-color: ghostwhite;
}

.highlight-grid,
.highlight-row,
.highlight-col {
  background-color: white;

  .secondary-highlight-row,
  .secondary-highlight-col {
    background-color: white;
  }

  .ternary-highlight-row,
  .ternary-highlight-col {
    background-color: ghostwhite;
  }
}

.highlight-number {
  color: black;
  font-weight: bold;
}
